<h2>Campaigns</h2>
<div *ngIf="campaigns.length > 0">
  <div *ngFor="let campaign of campaigns" class="card mb-3 mt-3">
    <div class="card-body">
      <div class="d-flex justify-content-between align-items-center">
        <h4 class="card-title">{{ campaign.title }}</h4>
        <div class="btn-group">
          <button class="btn btn-outline-primary" data-toggle="modal" (click)="openModal(campaign)" data-target="#exampleModalCenter">
            <i class="bi bi-pencil-fill"></i> Edit
          </button>
          <span class="mx-1"></span>
          <button class="btn btn-outline-danger" (click)="openDeleteModal(campaign.id)">
            <i class="bi bi-trash-fill"></i> Delete
          </button>
        </div>
      </div>
      <p class="card-text">{{ campaign.description }}</p>
      <div class="d-flex justify-content-start align-items-center mb-3">
        <p class="card-text mt-3">Points: </p>
        <div class="btn-group px-3 align-items-center">
          <button class="btn btn-outline-secondary" (click)="updatePoints(campaign, false)">
            <i class="bi bi-dash"></i>
          </button>
          <span class="points mx-3">{{ campaign.points }}</span>
          <button class="btn btn-outline-secondary" (click)="updatePoints(campaign, true)">
            <i class="bi bi-plus"></i>
          </button>
        </div>
      </div>

      <p class="card-text">Date: {{ campaign.date | date:'medium' }}</p>
    </div>
  </div>
</div>

<div *ngIf="campaigns.length === 0" class="text-center mt-5">
  <i class="bi bi-emoji-frown" style="font-size: 2rem;"></i>
  <p class="mt-2">Oops! No campaigns found.</p>

  <button class="btn btn-success mt-3" routerLink="/create-campaign">
    <i class="bi bi-plus"></i> Add Campaign
  </button>
</div>
